/* .JokeList {
    display: flex;
    width: 80%;
    height: 80%;
}

.JokeList-sidebar {
    background-color:#9575cd;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    text-align: center;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.1),
    inset 0 0 25px #7e57c2;
    z-index: 2;
}

.JokeList-title {
    font-size: 4rem;
    margin: 2rem;
    color: white;
    font-weight: 300;
    letter-spacing: 0.6rem;
}

.JokeList-title span {
    font-weight: 700;
    letter-spacing: 0;
}

.JokeList-sidebar img {
    width: 50%;
}

.JokeList-getmore {
    font-size: 1.5rem;
    border-radius: 1.5rem;
    padding: 1rem;
    background: linear-gradient(
    135deg,
     rgba(179, 229, 252, 1) 0%,
     rgba(179, 229, 252, 1) 50%,
     rgba(240, 98, 146, 1) 50%,
     rgba(240, 98, 146, 1) 100%)
     ;
     font-weight: 700;
     color:rgb(66, 66, 66);
     border: none;
     outline: none;
     word-spacing: 1.2rem;
	 box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.1);
	 cursor: pointer;
}

.JokeList-getmore:hover {
	transform: translateY(-3px);
}



.JokeList-getmore:disabled { 
    opacity: 0.5;
    cursor: not-allowed;
  }




  
  

.JokeList-jokes {
    height: 90%;
    background-color: white;
    align-self: center;
    overflow: scroll;
    width: 70%;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.1);
    z-index: 2;
} */

@media (max-width: 1024px) {
	.JokeList {
		flex-direction: column;
		width: 100%;
		height: 83%;
		align-self: flex-start;
		margin-top: 3%;
	}
	.JokeList-sidebar {
		flex-wrap: wrap;
		width: 100%;
		height: 35%;
	}
	.JokeList-sidebar h1 {
		width: 60%;
		font-size: 7rem;
	}
	.JokeList-sidebar img {
		margin-left: 2%;
		width: 30%;
		order: -1;
	}
	.JokeList-getmore {
		width: 37%;
		height: 23%;
		align-self: flex-start;
		margin-left: 5%;
	}
	.JokeList-jokes {
		width: 100%;
		height: 65%;
		padding-right: 2%;
		padding-left: 2%;
	}
}

@media (max-width: 770px) {
	.JokeList {
		width: 100%;
		height: 95%;
	}
	.JokeList-sidebar h1 {
		font-size: 5rem;
	}
}

@media (max-width: 420px) {
	.JokeList {
		width: 100%;
		height: 95%;
	}
	.JokeList-sidebar img {
		width: 35%;
		height: 100%;
	}
	.JokeList-sidebar h1 {
		font-size: 3.5rem;
    	margin: 0;
	}
	.JokeList-getmore {
		font-size: 1em;
		height: 20%;
		padding: 1px;
		margin-left: 12%;
	}
}

/* LOADING STYLES */

